.movie {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 250px;
  padding: 10px;
  background-color: aquamarine;
  transition: all 0.3s ease;
  border-radius: 15px;
  box-shadow: 0 0 7px 7px rgba(0,0,0,0.1);
  color: rgb(34, 74, 75);
  font-size: 0.5em;
}

.movie:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
  cursor: pointer;
}
  
.movie .movie__poster {
  display: block;
  max-width: 80%;
  max-height: 70%;
}
  
.movie .movie-card {
  padding: 10px;
  width: 300px;
  height: 400px;
  z-index: 9990;
  background: linear-gradient(#17c2e9, #36ce4c);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.1);
}

.movie h3 {
  margin: 0.3em 0;
}

.movie p {
  margin: 0;
}